body {
    font-size: 14px;
}

#canvas {
    width: 650px;
}

.header_img {
    width: 30%;
    float: left;
    margin-right: 7px;
    margin-bottom: 1px;
    padding: 3px;
    /*border: 1px solid black;*/
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#footer {
    clear: both;
    text-align: left;
    font-size: 13px;         
}